on:
  pull_request:
    types: [labeled, synchronize]
    branches:
      - main
      

jobs:
  trivial:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'ci:action_test'))
      
    name: show github.event
    steps:
      - name: Echo github.event
        run: echo ${{ toJson(github) }}
